body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

header {
    position: fixed;
    background-color: #FF7F00;
    padding: 2px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    text-align: right;
    font-family:Playpen Sans;
    color: white;
    font-size: 35px;
}

header img {
    width: 91px;
    height: 91px;
    border-radius: 45px;
}

nav a {
    background-color: white;
    border-radius: 100px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #FF7F00;
    position: relative;
}

nav {
    display: flex;
    gap: 70px;
}

.playpen-sans-<uniquifier> {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
}

.menu{
    margin-top: 100px;
}

.Pizza {
    text-align: center;
    background-color: white;
    width: 400px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}

.Pizza:hover {
    box-shadow: 0px 5px 7px 0px rgb(156, 156, 156) ;
    transform: translateY(-5px);
}


.Menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    margin-bottom: 5px;
}

div img {
    width: 200px;
}

h3 {
    font-size: 25px;
    color: #9c4f02;
}


.discounts {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 40px 0;
}

.discount {
    text-align: center;
    width: 180px;
    font-family: Arial, sans-serif;
}

.discount img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.discount h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.discount p {
    margin-top: 5px;
    font-size: 15px;
    line-height: 1.3;
}
.About {
    margin: 100px;
    font-size: 20px;
}
