body {
  font-family: arial black;
  margin: 0;
}

.banner img {
  width: 100%;
  display: block;
  border-bottom: 4px solid black;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 25px; 
}

.H1 {
  color: #EDD0B0;
  font-size: 45px;
  -webkit-text-stroke: 2px black;
  background-color: #9C6142;
  padding: 10px 40px;
  border: 1px solid black;
  margin: 15px;
}

.kava {
  width: 130px;
  height: auto;
}

nav {
  background-color: #663A22;
  padding: 25px;
  border-top: 6px solid black;
  border-bottom: 6px solid black;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
}

.Hellow {
  font-size: 30px;
  background-color: #E0A57A;
  padding: 16px;
  border: 1px solid black;
  color: #7B3A0C;
  
}


.Hellow:hover {
  font-size: 31px;
  background-color: #ffc49a;;
}


.Morning {
  font-size: 30px;
  background-color: #A3764F;
  padding: 16px;
  border: 1px solid black;
  color: #311807;
  margin-left: 70px;
}


.Morning:hover {
   font-size: 31px;
  background-color: #be8f68;
}


.Sweet {
  font-size: 30px;
  background-color: #E0BBCF;
  padding: 16px;
  border: 1px solid black;
  color: #863384;
  margin-left: 70px;
}

.Sweet:hover {
  font-size: 31px;
  background-color: #fadded;
}


.Hellowen {
  color: #7B3A0C;
  font-size: 45px;
  text-align: center;
  margin-top: 15px;
}

.season {
  background-color: rgba(224, 165, 122, 1);
  text-align: center;
  padding: 40px;
  color: #4b2b1d;
  font-family: sans-serif;
  border-left: 1px solid #913401;
  border-right: 1px solid #913401;
  border-bottom: 6px solid black;
}

.season h2 {
  font-size: 40px;
}

.coffee-grid {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px;
  justify-items: center;
  
}

.coffee-card {
  background-color: rgb(137, 61, 20);
  border: 1px solid rgba(64, 33, 19, 1);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 330px;
  height: 430px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.coffee-card:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-out;
}




.coffee-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.coffee-card h3 {
  margin-bottom: 5px;
  color: rgba(244, 150, 82, 1);
  font-size: 24px;
}

.coffee-card p {
  margin: 10px 0;
  color: rgba(42, 19, 3, 1);
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-card a {
  background-color: #f1a66a;
  border: none;
  padding: 10px 20px;
  font-size: 23px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.coffee-card a:hover {
  background-color: white;
  font-size: 25px;
  border: 2px solid rgba(42, 19, 3, 1);
}





.season2 {
  background-color: #A3764F;
  text-align: center;
  padding: 40px;
  color: #4b2b1d;
  font-family: sans-serif;
  border-left: 1px solid #402113;
  border-right: 1px solid #402113;
  border-bottom: 6px solid black;
}

.season2 h2 {
  font-size: 40px;
}

.coffee-grid2 {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px;
  justify-items: center;
  
}

.coffee-card2 {
  background-color: #663A22;
  border: 1px solid #402113;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 330px;
  height: 430px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}



.coffee-card2:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-out;
}



.coffee-card2 img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.coffee-card2 h3 {
  margin-bottom: 5px;
  color: #F6C7A6;
  font-size: 24px;
}

.coffee-card2 p {
  margin: 10px 0;
  color: rgba(42, 19, 3, 1);
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-card2 a {
  background-color: #C48C6A;
  border: none;
  padding: 10px 20px;
  font-size: 23px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.coffee-card2 a:hover {
  background-color: white;
  font-size: 25px;
  border: 2px solid rgba(42, 19, 3, 1);}






.season3 {
  background-color: #E0BBCF;
  text-align: center;
  padding: 40px;
  color: #863384;
  font-family: sans-serif;
  border-left: 1px solid #84388B;
  border-right: 1px solid #84388B;
  border-bottom: 6px solid black;
}

.season3 h2 {
  font-size: 40px;
}

.coffee-grid3 {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px;
  justify-items: center;
  
}

.coffee-card3 {
  background-color: #CC8EB7;
  border: 1px solid #84388B;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 330px;
  height: 430px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.coffee-card3:hover {
    transform: translateY(-20px);
    transition: 0.3s ease-out;
}


.coffee-card3 img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.coffee-card3 h3 {
  margin-bottom: 5px;
  color: #9F3B92;
  font-size: 24px;
}

.coffee-card3 p {
  margin: 10px 0;
  color: #9e44b0;
  font-size: 20px;
  margin-bottom: 20px;
}

.coffee-card3 a {
  background-color: #FFAAEF;
  border: none;
  padding: 10px 20px;
  font-size: 23px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.coffee-card3 a:hover {
  background-color: white;
  font-size: 25px;
  border: 2px solid rgba(42, 19, 3, 1);}


footer {
  background-color: #FEFBA3;
  width: 100%;
  padding-top: 1px;
}

footer h1 {
  color: #6E5F34;
  font-size: 50px;
  margin-left: 40px;
}
footer p {
  color: rgba(153, 142, 60, 1);
  font-size: 30px;
  margin-left: 40px;
}

.tt {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-right: 150px;
  padding-bottom: 50px;
  
}
